# Eclipse stuff
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# vim
.*.sw[a-p]

# intellij
*.iml
*.ipr
*.iws
.idea/

# gradle
.gradle/

# Mac filesystem dust
.DS_Store/

# various other potential build files
build/
target/

# Linux temp files
*~